@import "../../global.scss";

.topbar{
    width: 100%;
    height: 70px;
    background-color: white;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 2;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;

        .left{
            .logo{
                font-size:large;
                font-weight:bold;
                text-decoration: none;
                color: $themeGray90;
            }
        }
        
        .button1{
            .logo{
                font-size:medium;
                font-weight: normal;
                text-decoration: none;
                color: $themeGray90;
            }
        }
        .button2{
            .logo{
                font-size:medium;
                font-weight: normal;
                text-decoration: none;
                color: $themeGray90;
            }

        }
        .button3{
            .logo{
                font-size:medium;
                font-weight: normal;
                text-decoration: none;
                color: $themeGray90;
            }

        }

    }
}